[MASTER]
load-plugins=
    pylint_django,
ignore=
    tests,
    migrations,

[MESSAGES CONTROL]
disable=
    no-member,
    abstract-method,
    no-self-argument,
    unnecessary-pass,
    too-many-arguments,
    too-few-public-methods,
    missing-function-docstring,
    missing-class-docstring,
    missing-module-docstring,

[REPORTS]
reports=no

[FORMAT]
max-line-length=99
